/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/waves.svg');
  background-size: 100% 100%;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 50px 25px;
  width: 100%;
}

.partners {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.partnerCard {
  height: 100%;
  margin-bottom: 10px;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.partnerImage {
  height: 100%;
  width: 100%;
}

.responsiveCentered {
  text-align: center;
}

/*
html[data-theme='dark'] .features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: green;
} */